.cursor {
  width: 18px;
  height: 18px;
  border: 2px solid red;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.cursor-text {
  position: fixed;
  font-size: 12px;
  color: red;
  transform: translate(-50%, -150%);
}
